@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
}
.navbar-brand {
  font-size: 25px;
  font-weight: bold;
  font-family: "Fredoka One", cursive;
}
.navbar-light .navbar-brand:hover {
  color: rgb(65, 64, 64);
}

.inner-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../Images/nurse.jpg);
  /* Create the parallax scrolling effect */
  height: 100%;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron {
  height: 100vh;
  background-color: transparent;
  color: #fff;
}

.bg-custom {
  background-color: rgb(11, 102, 124);
}

.btn-custom {
  color: #fff;
  background-color: rgb(12, 118, 145);
}
.btn-custom:hover {
  color: #fff;
  background-color: rgb(20, 149, 182);
}

/* .btn-primary {
  background-color: #1b9cc8 !important;
  border: 1px solid #1b9cc8 !important;
  opacity: 0.8;
} */

.maincontent
{


height:603px;

}
#adddoctor
{
	display:none;
}
.active
{
	background-color:#EEEEEE;
}